<div class="list">
  <button
    class="list__scroll-btn"
    id="back"
    (click)="onScrollButtonClick($event)"
  >
    <mat-icon
      class="list__arrow-icon"
      aria-hidden="false"
      aria-label="arrow left"
      >arrow_left</mat-icon
    >
  </button>
  <div class="list__pokemons" (scroll)="onAtTheEndOfScroll($event)" #list>
    <app-pokemon-card
      *ngFor="let pokemon of pokemonList"
      (selectPokemon)="onPokemonClick($event)"
      [pokemon]="pokemon"
      [selectedPokemonId]="selectedPokemonId"
    ></app-pokemon-card>
  </div>
  <button
    class="list__scroll-btn"
    id="forward"
    (click)="onScrollButtonClick($event)"
  >
    <mat-icon
      class="list__arrow-icon"
      aria-hidden="false"
      aria-label="arrow right"
      >arrow_right</mat-icon
    >
  </button>
</div>
