@import 'src/styles/colors/colors.scss';

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $background;

  &__router + * {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
  }
}
