@import 'src/styles/colors/colors.scss';

.pokemon {
  height: 100%;
  display: grid;
  grid-template-columns: 45% 55%;

  &__image {
    height: 30rem;
    width: 30rem;
    align-self: center;
    justify-self: center;
    object-fit: cover;
  }

  &__details {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    &_top {
      display: flex;
      align-items: center;
    }

    &_middle {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    &_bottom {
      display: grid;
      grid-template-columns: 12rem 12rem;
      gap: 0.5rem;
    }
  }

  &__name {
    margin-right: 0.5rem;
    font-family: 'GT Walsheim Pro', sans-serif;
    font-size: 4rem;
    text-transform: capitalize;
  }

  &__types {
    height: 2rem;
    width: 2rem;
    margin-left: 0.5rem;
  }

  &__dimension {
    padding: 0.5rem 1rem;
    font-family: 'GT Walsheim Pro', sans-serif;
    font-size: 1.25rem;
    border: 1px solid $yellow;
    border-radius: 1.5rem;
  }

  &__stats {
    padding: 1rem 1rem;
    border: 1px solid $yellow;
    border-radius: 1.5rem;

    &_title {
      padding: 0;
      margin: 0;
      grid-column: 1/3;
      font-family: 'GT Walsheim Pro', sans-serif;
      font-size: 1rem;
    }

    &_name {
      padding: 0;
      margin: 0 0 1rem 0;
      font-family: 'GT Walsheim Pro', sans-serif;
      font-size: 1rem;
      text-transform: capitalize;
    }

    &_base {
      padding: 0;
      margin: 0;
      font-family: 'GT Walsheim Pro', sans-serif;
      font-size: 2rem;
    }
  }
}
