<div *ngIf="!pokemon">select pokemon below!</div>
<div class="pokemon" *ngIf="pokemon">
  <img [src]="pokemon.details.imageUrl" alt="" />
  <div class="poekmon__details">
    <p>{{ pokemon.name }}</p>
    <p>height: {{ pokemon.details.height }}</p>
    <p>weight {{ pokemon.details.weight }}</p>
    <p *ngFor="let stat of pokemon.details.stats">
      {{ stat.name }}: {{ stat.base }}
    </p>
    <div *ngFor="let type of pokemon.details.types">
      <ng-container *ngFor="let icon of types">
        <img *ngIf="type === icon.name" [src]="icon.iconUrl" alt="" />
      </ng-container>
      <p>{{ type }}</p>
    </div>
  </div>
</div>
